* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #dddddd; }
  .header-logo {
    width: 390px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .header-logo-content {
      max-width: 200px;
      height: 40px;
      border: 2px solid #000000;
      text-align: center;
      line-height: 35px;
      margin-left: 30px; }
    .header-logo p {
      letter-spacing: 17px;
      margin-left: 17px;
      font-weight: bold; }
  .header-menu {
    height: 80px;
    width: 1140px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .header-menu-list {
      height: 15px;
      width: 835px;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      margin-left: 150px;
      margin-right: 150px; }
    .header-menu a {
      text-decoration: none;
      font-size: 14px;
      color: #000000;
      font-weight: 700; }
    .header-menu a:hover {
      color: #8262b5; }
  .header-icon {
    width: 390px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .header-icon-content {
      width: 85px;
      height: 30px;
      margin-left: 260px;
      display: flex;
      justify-content: space-around; }
    .header-icon a {
      text-decoration: none;
      color: black; }

.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .main div.line {
    width: 50px;
    height: 1px;
    background-color: #8262b5;
    margin-top: 25px; }
  .main-ads {
    width: 1140px;
    height: auto;
    margin-top: 30px; }
    .main-ads-banner {
      width: 100%;
      height: 560px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto; }
      .main-ads-banner-left {
        width: 750px;
        height: 100%;
        background-color: #eeeeee;
        margin-right: 30px;
        position: relative; }
        .main-ads-banner-left button {
          position: absolute;
          top: 365px;
          left: 525px;
          z-index: 1000;
          width: 105px;
          height: 40px;
          background-color: #8262b5;
          border: none;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          outline: none; }
        .main-ads-banner-left img {
          width: 100%;
          height: 100%; }
      .main-ads-banner-right {
        width: 360px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative; }
        .main-ads-banner-right button {
          position: absolute;
          top: 410px;
          left: 40px;
          z-index: 1000;
          width: 105px;
          height: 40px;
          background-color: #8262b5;
          border: none;
          color: #ffffff;
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          outline: none; }
    .main-ads-title {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      margin-bottom: 50px;
      justify-content: flex-start; }
      .main-ads-title p {
        font-size: 12px;
        letter-spacing: 6px;
        color: #8262b5;
        font-weight: 700; }
      .main-ads-title span {
        font-size: 24px;
        letter-spacing: 2px;
        color: #000000;
        font-weight: 700; }
    .main-ads-feature {
      width: 100%;
      height: 860px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .main-ads-feature img {
        width: 100%;
        height: 320px; }
      .main-ads-feature button {
        width: 118px;
        height: 40px;
        background-color: #ffffff;
        font-size: 12px;
        line-height: 26px;
        color: #424242;
        font-weight: 600;
        text-align: center;
        position: absolute;
        left: 5px;
        bottom: 5px;
        border: none;
        outline: none; }
      .main-ads-feature button:hover {
        color: #8262b5; }
      .main-ads-feature-items {
        flex: 1 0 21%;
        height: 405px;
        margin-right: 30px; }
        .main-ads-feature-items-img {
          width: 100%;
          height: 323px;
          background-color: #eeeeee;
          position: relative; }
        .main-ads-feature-items-title {
          margin-top: 15px; }
          .main-ads-feature-items-title span.items-title {
            font-size: 14px;
            color: #000000;
            font-weight: bold; }
          .main-ads-feature-items-title span.star {
            color: #f9bb06;
            font-size: 14px; }
          .main-ads-feature-items-title span.old-price {
            color: #b8b8b8;
            font-size: 14px; }
          .main-ads-feature-items-title span.new-price {
            color: #8262b5;
            font-size: 14px;
            font-weight: 600; }
      .main-ads-feature-items:last-child {
        margin-right: 0; }
      .main-ads-feature-items:nth-child(4) {
        margin-right: 0; }
  .main-news {
    width: 100%;
    margin-top: 30px;
    height: auto;
    background-image: url("../img/12.png");
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-news-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 75px; }
      .main-news-title p {
        font-size: 12px;
        letter-spacing: 6px;
        color: #8262b5;
        font-weight: 700;
        margin-bottom: 0px; }
      .main-news-title span {
        font-size: 24px;
        letter-spacing: 2px;
        color: #000000;
        font-weight: 700;
        margin-top: -20px; }
    .main-news-post {
      width: 1140px;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 45px;
      margin-bottom: 110px; }
      .main-news-post img {
        width: 100%;
        height: auto; }
      .main-news-post-items {
        width: 360px;
        height: auto;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff; }
        .main-news-post-items a {
          color: black;
          font-weight: bold;
          margin-top: 25px; }
        .main-news-post-items a:hover {
          text-decoration: none;
          color: #8262b5; }
        .main-news-post-items span {
          margin-left: 20px; }
        .main-news-post-items-react {
          width: 100%;
          height: 55px;
          display: flex;
          flex-direction: row;
          margin-top: 25px;
          border-top: 1px solid #dddddd;
          align-items: center; }
          .main-news-post-items-react span {
            color: #dddddd;
            font-size: 14px; }
      .main-news-post-items:last-child {
        margin-right: 0; }

.footer {
  width: 100%;
  height: auto;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer-content {
    width: 1140px;
    height: 295px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between; }
    .footer-content-about {
      width: 261px;
      height: 295px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .footer-content-about-title {
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #393939; }
        .footer-content-about-title p {
          font-size: 16px;
          letter-spacing: 1px;
          line-height: 22px;
          color: #f7f7f7;
          font-weight: 400; }
      .footer-content-about-desc {
        width: 100%;
        height: 145px;
        padding-top: 25px; }
        .footer-content-about-desc span {
          font-size: 14px;
          line-height: 22px;
          color: #888888;
          font-weight: 400; }
      .footer-content-about-social {
        width: 100%;
        height: 94px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .footer-content-about-social a {
          color: #888888; }
        .footer-content-about-social a:last-child {
          margin-right: 100px; }
    .footer-content-navigation {
      width: 360px;
      height: 295px; }
      .footer-content-navigation-title {
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #393939; }
        .footer-content-navigation-title p {
          font-size: 16px;
          color: #f7f7f7; }
      .footer-content-navigation-desc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 25px; }
        .footer-content-navigation-desc-left {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
        .footer-content-navigation-desc-right {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
        .footer-content-navigation-desc a {
          text-decoration: none;
          color: #888888;
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
          line-height: 30px; }
        .footer-content-navigation-desc a:hover {
          color: #ffffff;
          text-decoration: underline; }
    .footer-content-location {
      width: 265px;
      height: 295px; }
      .footer-content-location-title {
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #393939; }
        .footer-content-location-title p {
          font-size: 16px;
          color: #f7f7f7; }
      .footer-content-location-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 25px; }
        .footer-content-location-desc div {
          display: flex;
          flex-direction: row;
          align-items: center; }
        .footer-content-location-desc i {
          margin-right: 15px;
          font-size: 14px;
          color: #888888; }
        .footer-content-location-desc span {
          font-size: 14px;
          line-height: 22px;
          color: #888888;
          font-weight: 400;
          line-height: 30px; }
  .footer-copyright {
    border-top: 1px solid #393939;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center; }
    .footer-copyright-content {
      width: 1140px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .footer-copyright-content-left {
        width: 50%; }
        .footer-copyright-content-left i {
          font-size: 14px;
          color: #888888; }
        .footer-copyright-content-left i.heart {
          color: red; }
        .footer-copyright-content-left span {
          font-size: 14px;
          line-height: 25px;
          color: #888888;
          font-weight: 400; }
        .footer-copyright-content-left span.company {
          color: #ffffff; }
      .footer-copyright-content-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        width: 50%; }
        .footer-copyright-content-right a {
          color: #888888;
          font-size: 20px;
          letter-spacing: 5px; }
